
h1{
    
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2);
    transition: 0.2s;
    border-radius: 5px; 
    width: fit-content;
}
h1:hover{
    
    box-shadow: 4px 9px 7px 2px rgba(0,0,0,0.2);

}